h1{
	background-color:lightgreen;
	color:white;
    text-align:center;
}
img{
	border-radius:50%;
	 width:100px;
	 height:100px;
	 position:absolute;
	/* z-index:-1;*/

}
body{
	background-color:steelblue;
}
.nav:hover{
	color:red;
}
.h1:hover{
	color:black;
}
h2{
	display:inline;
}